Flask
keras
numpy
Cython
# tensorflow==2.12.0
tensorflow
# tensorflow_hub==0.13.0
tensorflow-text
tf-models-official
tensorflow_hub
# tensorflow_text
# bert-for-tf2
# tf-models-official
gunicorn
h5py==3.8.0
spacy
nltk
sklearn