# Flask
# keras
# numpy
# # tensorflow==2.12.0
# tensorflow
# # tensorflow_hub==0.13.0
# tensorflow-text==2.11.*
# tf-models-official==2.11.0
# tensorflow_hub
# # tensorflow_text
# # bert-for-tf2
# # tf-models-official
# gunicorn

Flask==2.2.2
keras==2.10.0
numpy==1.23.5
tensorflow==2.12.0
tensorflow_hub==0.13.0
tensorflow_intel==2.12.0
tensorflow_text==2.10.0
tf-models-official
